<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Deck</title>
    <link rel="stylesheet" href="/styles/decks.css">
    <!-- Add any additional styles or scripts you need -->
</head>
<body>
    <h1><%= deck.name.toUpperCase() %></h1>

    <!-- Display deck details -->
    <h2>Deck Details</h2>
    <ul>
        <li>ID: <%= deck.id %></li>
        <li>Name: <%= deck.name %></li>
        <li>Released: <%= deck.released %></li>
        <li>Picture: <%= deck.picture %></li>

    </ul>


<!-- Display cards -->
<h2>Deck Cards</h2>

<div class="cards">
<% deckCards.forEach(card => { %>
 
        <div class="card-item">

            <% console.log(card); %>
            <!-- Use the card's image URL -->
            <img src="<%= card.images.small %>" alt="<%= card.name %>">
            <input type="checkbox" id="select">

            <h3><%= card.name %></h3>
            <!-- Add other card details as needed -->

        </div>
   
    <% }); %>
</div>

</body>
</html>
