<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Faction Decks'}) %>
    <link rel="stylesheet" type="text/css" href="/styles/users.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Welcome to Faction Decks!</h1>
    
    <!-- Decks -->
    <main>
        <section class="user-decks">
            <ul>
                <% for (let user of users) { %>
                <% for (let deck of user.decks) { %>
                <li>
                    <h4><%= deck.userDeckName %> - <%= deck.userDeckPhoto %></h4>
                    <p>Created: <%= deck.userDeckDateAdded %></p>
                    <a href="/userdecks/<%= deck._id %>">Read More</a>
                </li>
                <% } %>
                <% } %>
            </ul>
        </section>
    </main>
    </body>
    <%- include('../partials/footer.ejs') %>
    
</html>


