<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'User Profile'}) %>
    <link rel="stylesheet" type="text/css" href="/styles/users.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Hello <%= user.name %> !</h1>
    <h2>Your Decks Below</h2>
    <section class="decks-container">
        <ul>
            <% for (let i = 0; i < user.decks.length; i++) { %>
                <% let deck = user.decks[i]; %>
                <li><a href="/userdecks/<%= deck.id %>"><%= deck.userDeckName %></a></li>
            <% } %>
            <li><a href="/userdecks/new/<%= user.id %>">Create a New Deck</a></li></li>
        </ul>
    </section>
    <a href="/users/<%= user._id %>/edit">Edit Your Profile</a>
    <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
        <input class="btn" type="submit" value="Delete" />
    </form>
</body>
<%- include('../partials/footer.ejs') %>
</html>